<div class="home">
<h4>Historia Jednostki</h4>
<div style="background: none repeat scroll 0% 0% rgb(116, 149, 150);color:black;padding: 5px 19px 0px 18px;">
<br>Ochotnicza Straż Pożarna w Leśniewie została zorganizowana w 1882 roku pod zaborem pruskim.
W tym czasie niemcy nakładali obowiązek czuwania nad ochroną mienia na wszystkich obywateli  w wieku od 18-tego roku życia.
Ówczesna straż działała na zasadach przymusu, rolnicy obowiązani byli do podstawiania zaprzęgów konnych do przewozu beczkowozów.
Taki stan trwał do chwili odzyskania przez nasz kraj niepodległości.<br>
<br>
Jak wynika z relacji ojców, ludzi starszych na terenie wsi Leśniewa – założenie straży przymusowej przypada w 1882roku. 
Jednak nie pamięta się pierwszych założycieli. <br>Od 1930 do 1939 funkcje Prezesa pełnił Jan Potrykus, zaraz po wyzwoleniu 1945 r. Prezesem był Feliks Pieper, Józef Cieślak, Jan Czapp, a 15-03-1971 r wybrany został Władysław Grzywacz miejscowy leśniczy, od 29-12-1995 r.  do chwili obecnej jest Wincenty Lanc.<br>
<br>
            Pierwsza remiza strażacka to drewniana chatka usytuowana  przy wiejskim stawie i drodze wiejskiej.( widoczna na zdjęciu w książce „ Ziemia Pucka na dawnych pocztówkach”). Remiza ta rozebrana została w 1948 r. i pobudowano druga z drugiej strony stawu która stoi do dziś.
<br><br>
W 1973 roku zapada decyzja o budowie następnej remizy.14-12-1973 r. powstaje społeczny komitet budowy na czele stoi Władysław Grzywacz a zastępcami Władysław Srok i Proena Stefan Srok Teofil. Budowę rozpoczęto ze środków pozyskanych z różnych firm i instytucji a robotę wykonywano społecznie. Budowę zakończono w 1977r. W następnych latach modernizowano (budowa kotłowni, sanitariatów, biura, CO ).
<br><br>
            Dla rozszerzenia działalności kulturalnej i sportowej strażaków i nie tylko- buduje się przy remizie w 1999r. boisko utwardzone asfaltem do piłki ręcznej i koszykówki oraz buduje się pierwszy w gminie amfiteatr.
<br><br>
Sprzęt do gaszenia pożarów znajdował się w stałej sprawnej gotowości bojowej. Na dźwięk syren rolnicy podstawiali zaprzęgi konne do zaopatrzonych w sprzęt pożarniczy powozów które były na stanie w remizach. Dnia 30-05-1971  roku OSP otrzymało pierwszy samochód strażacki z pełnym wyposażeniem. Kierowcą i opiekunem samochodu bojowego został druh Bronisław Cieślak obowiązki te pełni nieprzerwanie do dziś ( 33 lat ), odznaczony „Złotym Znakiem Związku”. Od 1982 do1997 r. posiadaliśmy dwa samochody strażackie ze względu na bardzo częste pożary lasów.   
<br><br>
OSP w Leśniewie zawsze posiadała dobrą zorganizowana straż, silny trzon kierowniczy i działający aktyw strażacki, w konsekwencji czego straż z każdym rokiem  uzyskuje wyższy poziom szkolenia bojowego i sportowego. Zwycięstwa w zawodach bojowych na szczeblu powiatu a w 1988 r. pierwsze miejsce w województwie drużyn młodzieżowych. Podczas prowadzenia klasyfikacji współzawodnictwa wiele razy byliśmy najlepsi w gminie, a w 1988 i 1989 roku uzyskiwaliśmy trzecie miejsce w województwie.
<br><br>
            W dowód uznania tej tak szeroko zakrojonej działalności z całą przyjemnością należy podkreślić iż sztandar zakupiony i ufundowany z dobrowolnych składek mieszkańców wsi stanowi dowód wysokiego uznania działalności OSP przez lokalną ludność. Przekazanie sztandaru dla strażaków odbyło się 22-07-1982 r. w setną rocznicę działalności straży przez lokalną społeczność. Poświęcenia sztandaru dokonał ks. Proboszcz Zbigniew Krzewina w dniu 03-10-1982 r. OSP Leśniewo zostało odznaczone srebrnym medalem za zasługi dla pożarnictwa w 1997 r.
<br><br></div>
</div>
