
				<h4>Aktualności</h4>
				<ul>
					<li>
						<a href="news.html"><img src="images/icon-logo.jpg" alt=""></a>
						<div>
							<h3>News Title One Example Title</h3>
							<span>Posted on 12/12/12</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse
							</p>
							<a href="news.html">Read more&gt;&gt;</a>
						</div>
					</li>
					<li>
						<a href="news.html"><img src="images/icon-logo.jpg" alt=""></a>
						<div>
							<h3>News Title One Example Title</h3>
							<span>Posted on 12/12/12</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse
							</p>
							<a href="news.html">Read more&gt;&gt;</a>
						</div>
					</li>
					<li>
						<a href="news.html"><img src="images/icon-logo.jpg" alt=""></a>
						<div>
							<h3>News Title One Example Title</h3>
							<span>Posted on 12/12/12</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse
							</p>
							<a href="news.html">Read more&gt;&gt;</a>
						</div>
					</li>
					<li>
						<a href="news.html"><img src="images/icon-logo.jpg" alt=""></a>
						<div>
							<h3>News Title One Example Title</h3>
							<span>Posted on 12/12/12</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse
							</p>
							<a href="news.html">Read more&gt;&gt;</a>
						</div>
					</li>
					<li>
						<a href="news.html"><img src="images/icon-logo.jpg" alt=""></a>
						<div>
							<h3>News Title One Example Title</h3>
							<span>Posted on 12/12/12</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse
							</p>
							<a href="news.html">Read more&gt;&gt;</a>
						</div>
					</li>
					<li>
						<a href="news.html"><img src="images/icon-logo.jpg" alt=""></a>
						<div>
							<h3>News Title One Example Title</h3>
							<span>Posted on 12/12/12</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse
							</p>
							<a href="news.html">Read more&gt;&gt;</a>
						</div>
					</li>
				</ul>
			
