<div class="gallery">
<div class="gallery_div">
<h4 style="float:left;">Wynajem Sali</h4>
</div>
	<div id="myCarousel" class="carousel slide">  
  	  <!-- Carousel items -->  
  	  <div class="carousel-inner">  
    		<div class="active item">
			<center>
			<%= image_tag("sala/IMG_9460.JPG", "style"=>"height:420px;") %>
			</center>
    		</div> 

    		<div class="item">
			<center>
			<%= image_tag("sala/IMG_9475.JPG", "style"=>"height:420px;") %>
			</center>
    		</div> 
  	  </div>  
  	  <!-- Carousel nav -->  
  	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>  
  	  <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>  
	</div>  

</div>
