<div id="kontakt" class="modal hide fade">
  <div class="modal-header" style="background:rgb(116, 149, 150)">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Kontakt</h3>
  </div>
  <div class="modal-body">
    <%= image_tag("miniatura.JPG", :class=>"img-circle",:width=>"170px;","style"=>"display:inline;vertical-align:top;") %>
    <h4 style="display:inline-block;">Ochotnicza Straż Pożarna w Leśniewie<br>ul. Starowiejska 16<br>
      84-106 Leśniewo<br>osplesniewo@gmai​l.com</h4><br><br>
    <table style="width: 90%;margin-left: 13%;">
      <tbody>
      <tr>
        <td width="50%"><span style="text-decoration: underline;"><span style="font-size: 14pt;"><strong style="color: #000000; text-decoration: underline;">Prezes:</strong></span></span></td>
        <td><span style="text-decoration: underline;"><span style="font-size: 14pt;"><strong style="color: #000000; text-decoration: underline;">Naczelnik:</strong></span></span></td>
      </tr>
      <tr>
        <td width="50%"><strong><span style="font-size: 16px; font-style: normal; color: #ff0000;">Lanc Wincenty</span></strong></td>
        <td><span style="color: #ff0000;"><strong><span style="font-size: 16px; font-style: normal;">Semmerling Ryszard</span></strong></span></td>
      </tr>
      <tr>
        <td width="50%"><strong><span style="font-size: 16px; font-style: normal; color: #ff0000;">ul. Starowiejska 22</span></strong></td>
        <td><span style="color: #ff0000;"><strong><span style="font-size: 16px; font-style: normal;">ul. Cicha 2</span></strong></span></td>
      </tr>
      <tr>
        <td width="50%"><strong><span style="font-size: 16px; font-style: normal; color: #ff0000;">84-106 Leśniewo</span></strong></td>
        <td><strong><span style="font-size: 16px; font-style: normal; color: #ff0000;">84-106 Leśniewo</span></strong></td>
      </tr>
      <tr>
        <td width="50%"><span style="color: #ff0000;"><strong><span style="font-size: 16px; font-style: normal;">tel. 509-445-521</span></strong></span></td>
        <td><strong><span style="font-size: small; color: #ff0000;"><span style="font-size: 16px; font-style: normal;">tel. 692-328-905</span></span></strong></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <center><%= button_tag "Zamknij Okno",:type => 'button',:class => 'button', "data-dismiss" => "modal" %></center>
  </div>
</div>
