<div class="home">
<h4>Dodanie Aktualności</h4>
<div style="background: none repeat scroll 0% 0% rgb(116, 149, 150);color:black;padding: 5px 19px 0px 18px;">
<%= render 'form' %>

<%= link_to 'Back', news_index_path %>
</div>
</div>
