<div class="home">
<h4>Lista Wszystkich Zdjęć</h4>
<div style="background: none repeat scroll 0% 0% rgb(116, 149, 150);color:black;padding: 5px 19px 0px 18px;">

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pliks.each do |plik| %>
  <tr>
    <td><%= plik.opis %></td>
    <td><%= plik.nazwa %></td>
    <td><%= link_to 'Usuń', plik, method: :delete, data: { confirm: "Czy napewno chcesz usunąć plik #{plik.nazwa}?" } %></td>
  </tr>
<% end %>
</table>

<br />
</div>
</div>
