/* Website template by freewebsitetemplates.com */
/*------------------------- Fonts ---------------------------*/
@font-face {
	font: {
       	family: 'exoregular';
       	weight: 'normal';
       	style: 'normal';
    	}
	src: asset-url('exo-regular-webfont.eot', font);
	src: asset-url('exo-regular-webfont.eot', font) format('embedded-opentype'), 
	asset-url('exo-regular-webfont.woff', font) format('woff'), 
	asset-url('exo-regular-webfont.ttf', font) format('truetype'), 
	asset-url('exo-regular-webfont.svg#exoregular', font) format('svg');
}
@font-face {
	font: {
       	family: 'Conv_OpenSans-Regular';
       	weight: 'normal';
       	style: 'normal';
    	}
	src: asset-url('OpenSans-Regular.eot', font);
	src: asset-url('OpenSans-Regular.eot', font) format('embedded-opentype'), 
	asset-url('OpenSans-Regular.woff', font) format('woff'), 
	asset-url('OpenSans-Regular.ttf', font) format('truetype'), 
	asset-url('OpenSans-Regular.svg#OpenSans-Regular', font) format('svg');
}
@font-face {
	font: {
       	family: 'exoextralight';
       	weight: 'normal';
       	style: 'normal';
    	}
	src: asset-url('exo-extralight-webfont.eot', font);
	src: asset-url('exo-extralight-webfont.eot', font) format('embedded-opentype'), 
	asset-url('exo-extralight-webfont.woff', font) format('woff'), 
	asset-url('exo-extralight-webfont.ttf', font) format('truetype'), 
	asset-url('exo-extralight-webfont.svg#exoextralight', font) format('svg');
}
@font-face {
	font: {
       	family: 'exolightitalic';
       	weight: 'normal';
       	style: 'normal';
    	}
	src: asset-url('exo-lightitalic-webfont.eot', font);
	src: asset-url('exo-lightitalic-webfont.eot', font) format('embedded-opentype'), 
	asset-url('exo-lightitalic-webfont.woff', font) format('woff'), 
	asset-url('exo-lightitalic-webfont.ttf', font) format('truetype'), 
	asset-url('exo-lightitalic-webfont.svg#exolightitalic', font) format('svg');
}
@font-face {
	font: {
       	family: 'exobolditalic';
       	weight: 'normal';
       	style: 'normal';
    	}
	src: asset-url('exo-bolditalic-webfont.eot', font);
	src: asset-url('exo-bolditalic-webfont.eot', font) format('embedded-opentype'), 
	asset-url('exo-bolditalic-webfont.woff', font) format('woff'), 
	asset-url('exo-bolditalic-webfont.ttf', font) format('truetype'), 
	asset-url('exo-bolditalic-webfont.svg#exobolditalic', font) format('svg');
}
@font-face {
	font: {
       	family: 'exoextralightitalic';
       	weight: 'normal';
       	style: 'normal';
    	}
	src: asset-url('exo-extralightitalic-webfont.eot', font);
	src: asset-url('exo-extralightitalic-webfont.eot', font) format('embedded-opentype'), 
	asset-url('exo-extralightitalic-webfont.woff', font) format('woff'), 
	asset-url('exo-extralightitalic-webfont.ttf', font) format('truetype'), 
	asset-url('exo-extralightitalic-webfont.svg#exoextralightitalic', font) format('svg')
}
@font-face {
	font: {
       	family: 'exobold';
       	weight: 'normal';
       	style: 'normal';
    	}
	src: asset-url('exo-bold-webfont.eot', font);
	src: asset-url('exo-bold-webfont.eot', font) format('embedded-opentype'), 
	asset-url('exo-bold-webfont.woff', font) format('woff'), 
	asset-url('exo-bold-webfont.ttf', font) format('truetype'), 
	asset-url('exo-bold-webfont.svg#exobold', font) format('svg');
}
@font-face {
	font: {
  	family: 'Exo';
  	weight: 800;
  	style: 'italic';
	}
	src: asset-url('Exo-ExtraBold-Italic.eot', font);
	src: asset-url('Exo-ExtraBold-Italic.eot', font) format('embedded-opentype'), 
	asset-url('Exo-ExtraBold-Italic.woff', font) format('woff'), 
	asset-url('Exo-ExtraBold-Italic.ttf', font) format('truetype'), 
	asset-url('Exo-ExtraBold-Italic.svg#exoextrabolditalic', font) format('svg');
}
/*------------------------- Layout styles ------------------------*/
body {
	margin:0;
	font-family: 'exoregular';
	background:url(/assets/bg-body.jpg) repeat-x #060606;
}
a {
	outline:none;
}
a img {
	border:0;
	display:block;
}
.page-home {
	background:url(/assets/bg-featured-home.jpg) no-repeat center 108px;
}
.page-about {
	background:url(/assets/bg-featured-about.jpg) no-repeat center 108px;
}
.page-news {
	background:url(/assets/bg-featured-news.jpg) no-repeat center 108px;
}
.page-contact, .page-gallery {
	background:url(/assets/bg-featured-contact.jpg) no-repeat center 108px;
}
/*------------------------- Header -------------------------*/
.header {
	background:url(/assets/bg-header.jpg) no-repeat center top;
	min-height:624px;
}
.header div {
	margin:0 auto;
	width:960px;
}
.header div a#logo {
	display:inline-block;
	float:left;
	margin:33px 0 0 1px;
}
.header div span {
	color:#77dce5;
	float:right;
	font-family:exoextralight;
	font-size:14px;
	line-height:16px;
	margin:0px 0px 0px;
}
.header div ul {
	clear:both;
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:34px 0 0;
}
.header div ul li.selected {
	background:url(/assets/interface.png) no-repeat 0 -135px;
	height:48px;
	width:137px;
	cursor: pointer;
}
.header div ul li.selected a {
	color:#040101;
	font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	text-shadow:0 1px 0 #d7f4f7;
}
.header div ul li.selected a:hover {
	color:#040101;
}
.header div ul li.selected span {
	color:#084547;
	text-shadow:0 1px 0 #bef3f8;
}
.header div ul li {
	background:url(/assets/interface.png) no-repeat 0 -86px;
	float:left;
	height:48px;
	width:137px;
	cursor: pointer;
}
.header div ul li a {
	color:#fff;
	display:inline-block;
	float:left;
	font-family:exolightitalic;
	font-size:18px;
	letter-spacing:.05em;
	line-height:24px;
	margin:12px 0 0 10px;
	text-decoration:none;
	text-shadow:0 1px 0 #3b3939;
}
.header div ul li span {
	color:#67989a;
	display:inline-block;
	font-family:Conv_OpenSans-Regular;
	font-size:11px;
	line-height:24px;
	margin:12px 10px 0 0;
	text-shadow:0 1px 0 #000;
}
.header div div.featured h3 {
	background:url(/assets/bg-transparent-title.png);
	color:#fff;
	font-family:exobolditalic;
	font-size:40px;
	font-weight:400;
	height:78px;
	letter-spacing:.05em;
	line-height:80px;
	margin:130px 0 0;
	text-indent:15px;
	width:654px;
}
.header div div.featured p {
	background:url(/assets/bg-transparent-title.png);
	color:#fefafa;
	font-family:exoextralightitalic;
	font-size:36px;
	height:78px;
	letter-spacing:.05em;
	line-height:80px;
	margin:18px 0;
	text-indent:15px;
	width:654px;
}
.header div div.featured a {
	background:none #000;
	color:#8dd6dd;
	display:block;
	font-family:exobolditalic;
	font-size:20px;
	height:42px;
	letter-spacing:.05em;
	line-height:45px;
	text-align:center;
	text-decoration:none;
	width:174px;
}
.header div div.featured a:hover {
	background:none #12676f;
}
/*------------------------- Body ---------------------------*/
.body {
	margin:0 auto;
	padding:35px 0 0;
	width:960px;
}
.body .home {
	float:left;
	margin:0 20px 17px 0;
	width:630px;
}
.body .home h4 {
	background:none #102223;
	color:#fefafa;
	font-family:exobolditalic;
	font-size:18px;
	font-weight:400;
	height:36px;
	letter-spacing:.05em;
	line-height:35px;
	margin:0;
	text-indent:25px;
}
.body .home ul {
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:36px 0 0;
}
.body .home ul li {
	float:left;
	margin:0 5.5px 18px;
	padding: 2px 0px 0px 2px;
	position:relative;
	width:300px;
	height:235px;
}
.body .home ul li a {
	display:inline-block;
	float:left;
	margin:0 20px 0 0;
	vertical-align:top;
}
.body .home ul li div {
	display:inline-block;
	float:left;
	width:209px;
}
.body .home ul li div span {
	color:#74a1a3;
	display:block;
	font-family:exoregular;
	font-size:10px;
	letter-spacing:.05em;
	line-height:5px;
}
.body .home ul li div p {
	color:black;
	font-family:exoregular;
	font-size:12px;
	letter-spacing:.05em;
	line-height:18px;
	margin:13px 0 11px;
}
.body .home ul li div p a {
	color:#97c2c5;
	float:none;
	font-family:exoregular;
	font-size:12px;
	letter-spacing:.05em;
	line-height:18px;
}
.body .home ul li div a {
	color:#6df2fc;
	font-family:exoregular;
	font-size:10px;
	letter-spacing:.05em;
	line-height:18px;
	margin:0;
}
.body .home ul li div a:hover {
	color:#bdbdbd;
}
.body .sidebar {
	float:right;
	margin:0 0 42px;
	width:310px;
}
.body .sidebar h4 {
	background:none #1d3536;
	color:#FEFAFA;
	font-family:exobolditalic;
	font-size:18px;
	font-weight:400;
	height:36px;
	letter-spacing:.05em;
	line-height:35px;
	margin:0;
	text-indent:25px;
}
.body .sidebar ul {
	list-style:none;
	margin:0;
	padding:36px 0 35px;
}
.body .sidebar ul li:first-child {
	margin-top:0;
}
.body .sidebar ul li {
	margin-top:23px;
	overflow:hidden;
}
.body .sidebar ul li a {
	display:inline-block;
	float:left;
	margin:0 17px 0 0;
	vertical-align:top;
}
.body .sidebar ul li div {
	display:inline-block;
	float:left;
	width:180px;
}
.body .sidebar ul li div p {
	color:#97c2c5;
	font-family:exoregular;
	font-size:10px;
	letter-spacing:.05em;
	line-height:18px;
	margin:-1px 0 12px;
}
.body .sidebar ul li div p a {
	color:#97c2c5;
	float:none;
	text-decoration:underline;
}
.body .sidebar ul li div a {
	color:#6DF2FC;
	font-family:exoregular;
	font-size:10px;
	letter-spacing:.05em;
	line-height:18px;
	margin:0;
}
.body .sidebar ul li div a:hover {
	color:#bdbdbd;
}
.body .sidebar form {
	margin:29px 0 0;
	overflow:hidden;
}
.body .sidebar form input:first-child {
	background:url(/assets/interface.png) no-repeat 0 -49px;
	border:0;
	cursor:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:italic;
	height:20px;
	line-height:20px;
	margin:0 18px 0 0;
	padding:10px 5px 6px;
	width:210px;
	cursor:text;
}
.body .sidebar form input:first-child:hover {
	background:url(/assets/interface.png) no-repeat 0 -49px;
}
.body .sidebar form input {
	background:url(/assets/interface.png) no-repeat;
	border:0;
	cursor:pointer;
	height:36px;
	margin:0;
	padding:0;
	width:72px;
}
.body .sidebar form input:hover {
	background:url(/assets/interface.png) no-repeat 0 -184px;
}
.body .section {
	border-top:6px solid #102223;
	clear:both;
	overflow:hidden;
	padding:36px 0 0;
}
.body .section div:first-child {
	float:left;
	margin:0 20px 0 0;
	width:630px;
}
.body .section div h4 {
	background:none repeat scroll 0 0 #1D3536;
	color:#FEFAFA;
	font-family:exobolditalic;
	font-size:18px;
	font-weight:400;
	height:36px;
	letter-spacing:.05em;
	line-height:35px;
	margin:0;
	text-indent:25px;
}
.body .section div:first-child ul {
	background:none #102223;
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:18px 10px;
}
.body .section div:first-child ul li {
	float:left;
	margin:0 0 0 35px;
}
.body .section div:first-child ul li a img {
	border:2px solid #2f5455;
}
.body .section div.connect {
	background:none #102223;
	float:right;
	width:310px;
}
.body .about {
	float:left;
	margin:0 20px 17px 0;
	width:630px;
}
.body .about h3 {
	color:#fff;
	font-family:exobolditalic;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	margin:8px 0 0;
	text-transform:uppercase;
}
.body .about h4 {
    background: none repeat scroll 0% 0% rgb(16, 34, 35);
    color: rgb(254, 250, 250);
    font-family: exobolditalic;
    font-size: 18px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.05em;
    line-height: 35px;
    margin: 0px;
    text-indent: 25px;
}

.body .about p {
	color:#688889;
	font-size:12px;
	line-height:24px;
	margin:1px 0 23px;
}
.body .about p a {
	color:#688889;
	text-decoration:underline;
}
.body .news {
	float:left;
	margin:-467px 0 17px;
	width:630px;
}
.body .news div {
	background:none #1d3536;
	height:42px;
}
.body .news div h4 {
	color:#fefafa;
	display:inline-block;
	float:left;
	font-family:exobolditalic;
	font-size:18px;
	letter-spacing:.05em;
	line-height:40px;
	margin:0;
	text-indent:20px;
}
.body .news div ul {
	background:none;
	float:right;
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:0 5px 0 0;
}
.body .news div ul li {
	background:none;
	float:left;
	padding:0;
}
.body .news div ul li a {
	color:#74c9d1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:42px;
	margin:0;
	padding:0 6px;
	text-decoration:none;
}
.body .news ul {
	background:none #749596;
	list-style:none;
	margin:0;
	padding:5px 19px 0 18px;
}
.body .news ul li:first-child {
	background:none;
}
.body .news ul li {
	background:url(/assets/border.png) repeat-x left top;
	overflow:hidden;
	padding:25px 0 0;
}
.body .news ul li a {
	display:inline-block;
	float:left;
	margin:3px 20px 3px 0;
	vertical-align:top;
}
.body .news ul li div {
	background:none;
	display:inline-block;
	float:left;
	height:auto;
	padding:0 0 18px;
	width:465px;
}
.body .news ul li div h3 {
	margin:-3px 0 0;
	color:#f9fefe;
	display:block;
	float:none;
	font-family:exobold;
	font-size:16px;
	font-weight:400;
	letter-spacing:.05em;
}
.body .news ul li div span {
	color:#F9FEFE;
	display:block;
	font-size:10px;
	letter-spacing:.05em;
	margin:3px 0 0;
}
.body .news ul li div p {
	color:#060404;
	font-size:12px;
	letter-spacing:.05em;
	line-height:24px;
	margin:5px 0 9px;
}
.body .news ul li div p a {
	color:#060404;
	display:inline;
	float:none;
	margin:0;
}
.body .news ul li div > a {
	color:#6df2fc;
	font-size:10px;
	letter-spacing:.05em;
	line-height:18px;
}
.body .news ul li div a:hover {
	color:#fff;
}
.body .contact {
	float:left;
	margin:-467px 0 17px;
	width:630px;
}
.body .contact form {
	background:none #749596;
	overflow:hidden;
	padding:26px 60px 0 69px;
}
.body .contact form p {
	color:#fff;
	font-size:12px;
	line-height:24px;
	margin:0 0 57px;
}
.body .contact form p a {
	float:none;
	display:inline;
	margin:0;
	color:#fff!important;
}
.body .contact form p a:hover {
	color:#6df2fc!important;
}
.body .contact form input {
	background:none #1d3536;
	border:1px solid #3c4826;
	color:#77dce5;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:16px;
	margin:0 0 12px;
	padding:10px 5px 8px;
	width:482px;
}
.body .contact form input#email {
	margin-bottom:36px;
}
.body .contact form textarea {
	background:none #1d3536;
	border:1px solid #3c4826;
	color:#77dce5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	height:359px;
	line-height:24px;
	margin:0 0 19px;
	overflow:auto;
	padding:5px;
	resize:none;
	width:482px;
}
.body .contact form label.subscribe {
	color:#060606;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:normal;
	line-height:22px;
	width:265px;
}
.body .contact form label.agree {
	color:#060606;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:normal;
	line-height:22px;
	width:225px;
}
.body .contact form input#submit {
	background:url(/assets/interface.png) no-repeat -73px 0;
	border:0;
	cursor:pointer;
	float:right;
	height:48px;
	margin:43px 20px 63px 0;
	padding:0;
	width:220px;
}
.body .contact form input#submit:hover {
	background:url(/assets/interface.png) no-repeat -73px -184px;
}
.body .contact p {
	color:#688889;
	font-size:12px;
	margin:0;
}
.body .sidebar div.connect {
	background:none #102223;
	margin:78px 0 0;
	overflow:hidden;
}
.body .gallery {
	background:none #749596;
	float:left;
	margin:-467px 0 100px;
	padding:0 0 32px;
	width:630px;
}
.body .gallery div ul {
	background:none repeat scroll 0 0 transparent;
	float:right;
	list-style:none outside none;
	margin:0;
	overflow:hidden;
	padding:0 5px 0 0;
}
.body .gallery div ul li {
	background:none repeat scroll 0 0 transparent;
	float:left;
	margin:0;
	padding:0;
	width:auto;
}
.body .gallery div ul li a {
	color:#74C9D1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:42px;
	margin:0;
	padding:0 6px;
	text-decoration:none;
}
.body .gallery ul {
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:0 10px;
}
.body .gallery ul li {
	float:left;
	margin:0 0 0 30px;
	width:auto;
}
.body .gallery ul li a img {
	border:2px solid #2f5455;
	margin:0;
}
.body .gallery ul.section {
	background:url(/assets/border.png) repeat-x left top;
	border:0;
	clear:none;
	margin:0 10px;
	padding:25px 0 30px;
}
.body .gallery ul.section li:first-child {
	margin:0 10px 0 0;
}
.body .gallery ul.section li {
	margin-left:30px;
}
.body .gallery ul li.second {
	margin:0 10px 0 30px;
}
.body .gallery h2 {
	color:#fff;
	font-family:exobolditalic;
	font-size:30px;
	font-weight:400;
	line-height:24px;
	margin:38px 0 18px;
	text-indent:10px;
}
.body .gallery p a {
	color:#091b1c;
	text-decoration:underline;
}
.body .section div:first-child ul li:first-child, .body .gallery ul li:first-child {
	margin:0;
}
.body .home ul li div h3 {
	margin:0;
	color:#f9fefe;
	float:none;
	font-family:exobold;
	font-size:14px;
	font-weight:400;
	letter-spacing:.05em;
	line-height:14px;
	margin: 0 0 12px;
}
.body .home form input {
    	background: url("/assets/interface.png") no-repeat scroll 0px -49px transparent;
    	border: 2px solid;
    	font-family: Arial,Helvetica,sans-serif;
    	font-style: italic;
    	height: 20px;
    	padding: 10px 5px 6px;
    	width: 210px;
    	cursor: text;
}
.body .sidebar ul li div h3 {
	color:#f9fefe;
	float:none;
	font-family:exobold;
	font-size:14px;
	font-weight:400;
	letter-spacing:.05em;
	line-height:14px;
	margin:0 0 12px;
}
.body .home ul li div p a:hover, .body .sidebar ul li div p a:hover, .body .about p a:hover, .body .news ul li div p a:hover, .body .contact form p a, .body .gallery p a:hover {
	color:#a0eff3;
}
.body .sidebar ul li a img:hover, .body .section div:first-child ul li a img:hover, .body .news ul li a img:hover, .body .gallery ul li a img:hover {
	filter:alpha(opacity=80);/* Needed for IE8 and old versions */
	opacity:0.8;
}
.body .section div.connect a#twitter, .body .sidebar div.connect a#twitter {
	background:url(/assets/icons.png) no-repeat 0 -59px;
	float:left;
	height:28px;
	margin:25px 0 31px 21px;
	text-indent:-99999px;
	width:31px;
}
.body .section div.connect img {
	height:84px;
	margin:25px 0 31px 21px;
	text-indent:-99999px;
	display:inline;
}
.body .section div.connect a#twitter:hover, .body .sidebar div.connect a#twitter:hover {
	background:url(/assets/icons.png) no-repeat 0 -89px;
}
.body .section div.connect a#fb, .body .sidebar div.connect a#fb {
	background:url(/assets/icons.png) no-repeat 0 -177px;
	float:left;
	height:27px;
	margin:25px 0 0 48px;
	text-indent:-99999px;
	width:28px;
}
.body .section div.connect a#fb:hover, .body .sidebar div.connect a#fb:hover {
	background:url(/assets/icons.png) no-repeat 0 -206px;
}
.body .section div.connect a#googleplus, .body .sidebar div.connect a#googleplus {
	background:url(/assets/icons.png) no-repeat 0 -119px;
	float:left;
	height:27px;
	width:26px;
	margin:25px 0 0 51px;
	text-indent:-99999px;
}
.body .section div.connect a#googleplus:hover, .body .sidebar div.connect a#googleplus:hover {
	background:url(/assets/icons.png) no-repeat 0 -148px;
}
.body .section div.connect a#vimeo, .body .sidebar div.connect a#vimeo {
	background:url(/assets/icons.png) no-repeat 0 0;
	float:left;
	height:28px;
	margin:25px 0 0 52px;
	text-indent:-99999px;
	width:31px;
}
.body .section div.connect a#vimeo:hover, .body .sidebar div.connect a#vimeo:hover {
	background:url(/assets/icons.png) no-repeat 0 -30px;
}
.body .news div ul li a:hover, .body .news div ul li a.first, .body .news div ul li a.last, .body .news ul li div h3 a:hover, .body .gallery div ul li a.first, .body .gallery div ul li a.last, .body .gallery div ul li a:hover {
	text-decoration:underline;
}
.body .contact div, .body .gallery .gallery_div {
	background:none repeat scroll 0 0 #1D3536;
	height:42px;
}
.body .contact div h4, .body .gallery div h4 {
	color:#FEFAFA;
	display:inline-block;
	font-family:exobolditalic;
	font-size:18px;
	letter-spacing:.05em;
	line-height:40px;
	margin:0;
	text-indent:20px;
}
.body .contact form input#subscribe, .body .contact form input#agree {
	clear:both;
	float:left;
	height:auto;
	margin:4px 10px 0 0;
	padding:0;
	vertical-align:top;
	width:auto;
}
/*------------------------- Footer -------------------------*/
.footer {
	background:url(/assets/bg-footer.jpg) repeat-x;
	clear:both;
	height:52px;
	margin:42px auto 72px;
	width:960px;
}
.footer ul {
	float:left;
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:16px 0 0 15px;
}
.footer ul li:first-child {
	background:none;
	padding-left:0;
}
.footer ul li {
	background:url(/assets/border-footer-nav.png) no-repeat left 6px;
	float:left;
	padding:0 10px;
}
.footer ul li a {
	color:#435e5f;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:16px;
	text-decoration:none;
}
.footer p {
	color:#435e5f;
	float:right;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:16px;
	margin:19px 0 0;
	padding:0 15px 0 0;
	text-decoration:none;
}
.logo_herb{
	height:90px;
	margin-left:-95px;
	margin-bottom:-85px;
}
.notice {
    	position: fixed;
    	top: 14px;
    	right: 2%;
}
#news_index_tytul{
	line-height:25px;
}
#news_show{
	height:100%;
}
#news_form_tytul{
	width:99%;
	background:white;
}
#statystyki{
	color:red;
	font-size:18px;
	float:right;
}
#statystyki1{
	color:orange;
	font-size:15px;
	float:right;
}
textarea {
	margin-left: 0px;
    	border: 2px solid;
}
.body .news div ul a, .body .gallery .gallery_div ul a, .body .news div ul em,.body .news div ul span, .body .gallery .gallery_div ul em, .body .gallery .gallery_div ul span {
    	color: rgb(116, 201, 209);
    	font-family: Arial,Helvetica,sans-serif;
    	font-size: 12px;
    	line-height: 42px;
    	margin: 0px;
    	padding: 0px 6px;
    	text-decoration: none;
}
.news div ul em, .body .gallery .gallery_div ul em{
	font-weight:bold;
}
.body .news div ul a:hover,.body .gallery .gallery_div ul a:hover{
	text-decoration: underline;
}
.images_form_opis{
	width:200px;
	height:160px;
}
.body .home .galeria ul.section {
    	background: url("/assets/border.png") repeat-x scroll left top transparent;
    	border: 0px none;
    	clear: none;
    	margin: 0px 10px;
    	padding: 25px 0px 30px;
    	margin-bottom: -50px;
}
.body .home .galeria ul li {
    	float: left;	
    	width: 180px;
}
.body .home .galeria ul {
    	list-style: none outside none;
}
.body .home .galeria ul li a img {
    	border: 2px solid rgb(47, 84, 85);
    	margin: 0px;
    	display:inline;
}
.img-polaroid{
	margin-bottom:3px;
	display:inline;					
}
.img-polaroid:hover{
	border-color: rgb(0, 136, 204);
}
.lista_zdjec{
	display:inline-block;
	width:89px;
	border:1px solid;
	background:rgb(16, 34, 35);
	margin-bottom:10px;
	margin-right:3px;
}
.lista_zdjec img{
	width:85px;
	height:90px;
}
.carousel-control {
    	line-height: 38px;
}
.alert-error {
    	color: black;
    	padding: 6px 35px 6px 14px;
    	margin-bottom: 5px;
    	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    	background-color: rgb(252, 248, 227);
    	border: 1px solid rgb(185, 74, 72);
    	border-radius: 4px 4px 4px 4px;
    	font-weight: bold;
    	width:280px !important;
}
#plus{
    	font-size:15px;
    	font-weight:bold;
    	margin-top:-2px;
}
#czlonkowie_lista {
    	color: black;
    	float: none;
    	font-family: exobold;
    	font-size: 17px;
    	font-weight: 400;
    	letter-spacing: 0.05em;
    	line-height: 30px;
    	margin: 0px 0px 12px;
}
.album_list{
    	height:165px;
    	width:500px !important;
    	background: url("/assets/bg-body.jpg") repeat scroll 0% 25% transparent;
    	color:Dark_gray;
    	margin-top:20px;
    	margin-bottom:20px;
    	margin-left:56px;
    	-webkit-box-shadow: 0 0  13px #000 inset;
    	-moz-box-shadow: 0 0  13px #000 inset;
    	box-shadow: 0 0  13px #000 inset;
    	padding: 6px 8px 0px;
    	overflow: hidden;
    	cursor: pointer;
}
.album_inside {
    	background-color: rgba(0, 0, 0, 0.5);
    	border-radius: 4px 4px 4px 4px;
    	transition: max-height 0.5s ease 0.2s;
    	color: rgb(255, 255, 255);
    	margin-left: 40px;
    	margin-top:105px;
    	line-height: 1.4;
    	max-height: 180px;
    	width:410px;
    	height:150px;
    	padding: 15px 15px 0px;
    	transition: all 0.4s ease 0s;
}
.album_inside:hover{
    	margin-top:30px;
    	transition: all 0.4s ease 0s;
}
.album_inside img{
    	margin-top:5px;
    	height:65px !important;
    	width:65px !important;
}
.his_img{
    	padding: 6px 6px 6px;
    	margin-left: -5px;
    	width:100%;
    	-webkit-box-shadow: 0 0  13px #000 inset;
    	-moz-box-shadow: 0 0  13px #000 inset;
    	box-shadow: 0 0  13px #000 inset;
}
.zakladki_male{
    	background: none repeat scroll 0% 0% rgb(116, 149, 150); 
    	padding: -8px 5px 5px 5px;
    	border-radius: 5px 5px 5px 5px;
    	border:1px solid;
    	color:black !important;
    	display: inline-block;
}
.glowna_miniatura{
    	width:70px !important;
    	height:69px !important;
    	box-shadow: 0px 0px 3px rgb(0, 0, 0);
}
.watermark {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	background: transparent url(/assets/znak_wodny.png) bottom right no-repeat;
    	z-index: 1100;
}
.news_start {
    	margin-right:4px;
    	background-color: rgb(116, 149, 150);
    	background-image: linear-gradient(to top,  rgb(80, 100, 104), rgb(116, 149, 150));
    	background-repeat: repeat-x;
    	border-width: 1px;
    	border-style: solid;
    	-moz-border-top-colors: none;
    	-moz-border-right-colors: none;
    	-moz-border-bottom-colors: none;
    	-moz-border-left-colors: none;
    	border-image: none;
    	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgb(1, 1, 1);
    	border-radius: 4px 4px 4px 4px;
    	box-shadow: 0px 1px 0px rgba(2, 2, 2, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}	
.start_logo{
    	width:70px !important;
    	height:69px !important;
    	box-shadow: 0px 0px 3px rgb(0, 0, 0);
}
.bookmars{
    	margin-left:-50px;
    	z-index:2;
    	width:80px;
    	height:40px;
}
#start_a{
    	position:absolute;
    	bottom:15px;
    	right:15px;
    	color:white !important;
}
#start_a:hover{
    	text-decoration:underline;
}
#osoba {
    	font-weight:bold;
    	font-size:25px;
    	line-height:35px;
}
.galeriaplus{
    	margin-top:-7px;
    	cursor: pointer;
}
.przycisk_rss{
    	margin:2px;
    	float:right;
    	cursor:pointer;
}
.licznik_zdarzen{
    	border:1px solid rgb(220, 247, 221);
    	border-radius: 5px 5px 5px 5px;
    	padding: 10px 10px 10px 15px;
    	box-shadow: 0px 0px 15px rgb(65, 131, 196);
    	background:url(/assets/kropka.png);
}
.icon_plik{
    	display:inline-block;
    	width:40px;
    	height:44px;
    	background:url("/assets/icons.png");
    	margin-left:0px;
    	margin-top:-10px;
    	margin-bottom:-11px;
    	float:left;
}
.dodaj_plik{
    	width:50px;
    	height:50px;
    	display:inline;
    	margin-top:-5px;
}
#otwp_ico{
    	height:23px;
    	padding-top:11px;
    	padding-bottom:11px;
    	padding-left:0px;
    	padding-right:10px;
}
.progress{
    	display:none;
    	height:30px;
}
.bar {
    	background: green;
    	width: 0%;
    	height: 30px;
}
.myfileupload-buttonbar input {
    	position: absolute;
    	top: 0;
    	right: 0;
    	margin: 0;
    	border: solid transparent;
    	border-width: 0 0 100px 200px;
    	opacity: 0.0;
    	filter: alpha(opacity=0);
    	-o-transform: translate(250px, -50px) scale(1);
    	-moz-transform: translate(-300px, 0) scale(4);
    	direction: ltr;
    	cursor: pointer;
}
.myui-button {
    	position: relative;
    	cursor: pointer;
    	text-align: center;
    	overflow: visible;
    	overflow: hidden;
}
.pojemnik {
    	width:185px;
    	display:inline-block;
}
#start {
    	vertical-align: top;
}
#stopka_image_add {
    	padding:0px!important;
}
.image_add_link {
    	display:inline-block;
    	background: url("/assets/interface.png") no-repeat scroll 0px -49px transparent;
    	border: 2px solid rgb(51, 51, 51);
    	font-family: Arial,Helvetica,sans-serif;
    	font-style: italic;
    	font-weight: bold;
    	font-size: 15px;
    	height: 15.4px;
    	padding: 6px 7px 12px;
    	width: 105px;
    	cursor: pointer;
    	color: rgb(51, 51, 51);
    	vertical-align: middle;
}
.link_do_galerii {
    	float:right;
    	margin-top:16px;
    	color: rgb(0, 85, 128);
}

#calendar table {
    	border-collapse: collapse;
    	width: 90%;
    	margin-left:15px;
    	margin-bottom:15px;
    	border: 1px solid rgb(14, 16, 19);
    	border-collapse: collapse;
    	border-radius: 4px 4px 3px 3px;
    	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

#calendar th {
    	border-left: 0px none!important;
    	line-height: 8px;
    	font-size: 10px;
    	color: rgb(105, 105, 105);
    	text-transform: uppercase;
    	background: none repeat scroll 0% 0% rgb(243, 243, 243);
    	text-align: center;
    	width: 14.2857142857143%;
    	padding: 6px;
    	font-family: "Lucida Grande",arial,helvetica,sans-serif;
}

#calendar td {
    	font-family: "Lucida Grande",arial,helvetica,sans-serif;
    	color: #777;
    	height: 20px;
    	vertical-align: top;
    	font-size: 16px;
    	font-weight:bold;
    	text-shadow: 0px 1px rgba(255, 255, 255, 0.8);
    	text-align: center;
    	background-image: linear-gradient(to bottom, rgb(234, 234, 234), rgb(229, 229, 229) 60%, rgb(217, 217, 217));
    	background-color: rgb(229, 229, 229);
    	border: 1px solid #999;
    	padding:0px;
}

#calendar .notmonth {
    	color: #CCC;
    	background: none repeat scroll 0% 0% rgb(243, 243, 243);
}

#calendar #month {
    	display: block;
    	line-height: 32px;
    	font-weight: bold;
    	font-size:15px;
    	width: 90%;
    	margin-left: 15px;
    	margin-bottom:-2px;
   	color: rgb(226, 226, 226);
    	text-align: center;
    	text-shadow: 0px -1px black;
    	background: none repeat scroll 0% 0% rgba(10, 15, 15, 0.35);
    	border-top: 1px solid rgb(51, 51, 51);
    	border-bottom: 1px solid rgb(49, 49, 49);
    	box-shadow: 0px 1px rgba(255, 255, 255, 0.04) inset;
}

#calendar #month a, #calendar #month a:hover {
    	text-decoration: none;
    	padding: 0 10px;
    	color: #999;
}

#calendar .today {
    	margin: -1px;
    	color: rgb(243, 243, 243);
    	text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
    	background: none repeat scroll 0% 0% rgb(109, 175, 191);
    	border: 1px solid rgb(89, 139, 148);
    	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05) inset;
}

#calendar .future > .calendar_pelne {
  	background-image: linear-gradient(to bottom, rgb(98, 196, 98), rgb(81, 163, 81))!important;
}

#calendar ul {
    	margin: 0;
    	margin-top: 5px;
    	padding: 0;
    	list-style: none;
}

#calendar li {
    	margin: 0;
    	padding: 0;
    	font-size: 11px;
    	text-align: center;	
}

#calendar li > a {
    	color:black!important;
    	margin-left:0;
    	margin-right:0px;
}

#calendar li > a:hover {
    	color:white!important;
    	margin-left:0;
    	margin-right:0px;
}

.calendar_puste {
    	padding: 6px;
}

.calendar_pelne {
    	padding: 6px;
    	background: linear-gradient(to bottom, rgb(229, 102, 102) 0%, rgb(215, 93, 93) 100%) repeat scroll 0% 0% transparent;
    	background-color: rgb(215, 93, 93);
    	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.125) inset;
}

.calendar_pelne a {
    	color: rgb(243, 243, 243)!important;
    	text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}

.pogoda_widget {
    	height:220px;
    	overflow:hidden;
    	margin-top:-20px;
    	margin-left:5px;
}

#news_rodzaj {
	border: 2px solid;
	brder-color:rgba(82, 168, 236, 0.8);
}

#news_termin_3i {
	width:60px;
	border: 2px solid;
	brder-color:rgba(82, 168, 236, 0.8);
}

#news_termin_2i {
	width:120px;
	border: 2px solid;
	brder-color:rgba(82, 168, 236, 0.8);
}

#news_termin_1i {
	width:70px;
	border: 2px solid;
	brder-color:rgba(82, 168, 236, 0.8);
}

#news_rodzaj:focus,#news_termin_3i:focus,#news_termin_2i:focus,#news_termin_1i:focus,#news_form_tytul:focus {
	outline: 0px none;
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
